.secondary-sidebar{
  z-index: 70;


  flex-grow: 0;
  flex-shrink: 0;

  width: 8rem;
  max-width: 8rem;
  height: 100vh;

  color: var(--gray-15);

  background-color: var(--gray-2);
  box-shadow: var(--elevation-4);

  .content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 100vh;

    background-color: rgba(var(--pcolor-5-tri), var(--alpha-1));

    .header{
      margin: var(--spacing-3);

      white-space: nowrap;
    }

    .item{
      padding-right: var(--spacing-3);
      padding-left: var(--spacing-3);

      color: var(--gray-15);
      font-family: var(--primary-font);
      text-decoration: none;

      border-top: 2px solid transparent;
      border-bottom: 2px solid transparent;


      &:hover{
        background-color: rgba(var(--pcolor-8-tri), var(--alpha-9));
      }

      &.active{
        background-color: rgba(var(--pcolor-8-tri), var(--alpha-9));
        border-top: 2px solid var(--pcolor-6);
        border-bottom: 2px solid var(--pcolor-6);
      }
    }
  }
}
