.icon-button{
  --base-color: var(--scolor-10);
  --active-color: var(--scolor-8);
  --initial-color: var(--gray-15);

  flex-grow: 0;
  flex-shrink: 0;
  box-sizing: content-box;
  width: 1.5em;
  height: 1.5em;
  margin: 0;
  padding: 0.5em; //extra padding for easier clicking since 1.5em is kinda small

  background-color: transparent;

  border: none;

  .stroke{
    fill: none;
    stroke: var(--initial-color);
  }
  .fill{
    stroke: var(--initial-color);
  }

  &:hover{
    .stroke{
      stroke: var(--base-color);
    }

    .fill{
      fill: var(--base-color);
    }
  }

  &:focus, &:active, &.active{
    outline: none;
    .stroke{
      stroke: var(--active-color);
    }

    .fill{
      fill: var(--active-color);
    }
  }
}

#root.light .icon-button{
  --base-color: var(--scolor-6);
  --active-color: var(--scolor-8);
  --initial-color: var(--gray-0);
}
