.gd-grid{
  --grid-fg: rgba(var(--gray-31-tri), 0.05);

  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow-y: auto;

  border: 4px solid var(--grid-fg);

  .gd-cell{
    padding: var(--spacing-3);
  }

  .gd-header{
    font-size: var(--font-size-3);

    background-color: var(--grid-fg);
    border-bottom: 4px solid transparent; //this is just a spacer, the bg-color will shine through


    .gd-cell{
      display: flex;
      align-items: center;
      margin: var(--spacing-1);
      padding: 0;
      padding-left: var(--spacing-2);

      *:not(:last-child){
        margin-right: var(--spacing-2);
      }
    }
  }

  .gd-body{
    display: grid;
    overflow-y: overlay;
  }

  .gd-row{
    display: grid;

    &:nth-child(even){
      background: var(--grid-fg);
    }
  }
}
