.button{
  --base-color: var(--pcolor-7);
  --text-color: var(--gray-0);
  --danger-color: var(--danger-6);

  display: flex;
  flex-grow: 0;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-3) var(--spacing-3);

  color: var(--text-color);
  font-weight: bold;
  font-size: var(--font-size-2);
  font-family: var(--primary-font);
  line-height: 1em;
  white-space: nowrap;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--base-color);
  border: none;
  box-shadow: var(--elevation-1);

  transition: all 0.25s ease-in-out;

  user-select: none;

  &:hover{
    box-shadow: var(--elevation-2);
    filter: brightness(125%);
  }

  &:active, &:focus{
    outline: none;
    box-shadow: var(--elevation-0);
    filter: brightness(90%);
  }

  &.destructive{
    color: var(--danger-color);

    background-color: transparent;
    border: 2px solid var(--danger-color);

    &:hover{
      color: var(--text-color);

      background-color: var(--danger-color);
      filter: brightness(100%);
    }

    &:active, &:focus{
      color: var(--text-color);

      background-color: var(--danger-color);
      filter: brightness(100%);
    }
  }

  &.disabled{
    filter: grayscale(100%);

    pointer-events: none;
  }
}

#app.light .button{
  --base-color: var(--pcolor-5);
  --text-color: var(--gray-15);
  --danger-color: var(--danger-5);
}
