.text-input{
  --base-color: var(--pcolor-7);
  --active-color: var(--pcolor-7);
  --danger-color: var(--danger-6);
  --initial-color: var(--gray-15);

  position: relative;

  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-end;
  height: 2.25rem;

  .label{
    position: absolute;
    top: calc(50% - 0.5em);
    left: 0;

    height: 1em;
    padding-left: var(--spacing-3);

    color: var(--base-color);
    font-weight: bold;

    font-size: var(--font-size-2);
    line-height: 1em;
    white-space: nowrap;

    transition: font-size 0.1s ease-out, top 0.1s ease-out;

    user-select: none;
    pointer-events: none;
  }


  input{
    box-sizing: border-box;
    width: 100%;
    height: 2.25rem;
    padding-top: 1em;
    padding-right: var(--spacing-3);
    padding-left: var(--spacing-3);

    color: var(--base-color);
    font-size: var(--font-size-2);
    font-family: var(--primary-font);
    vertical-align: bottom;

    background: transparent;
    border: 2px solid var(--initial-color);

    &:hover, &:focus, &:active{
      border-color: var(--active-color);
      outline: none;
    }
  }

  &.minimal{
    .label{
      padding-left: 0;

      color: var(--initial-color);
    }
    input{
      padding-left: 0;

      color: var(--initial-color);

      border-top: none;
      border-right: none;
      border-left: 0;
    }
  }

  input:not(:placeholder-shown) ~ .label, input:focus ~ .label{
    top: 0;

    padding-top: var(--spacing-2);

    font-size: var(--font-size-1);
  }
  input:hover ~ .label, input:focus ~ .label{
    color: var(--active-color);
  }
}

body.light .text-input{
  --base-color: var(--pcolor-7);
  --initial-color: var(--gray-0);
  --active-color: var(--pcolor-4);
}
