/* General Button Style */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--spacing-3) var(--spacing-6);

  text-transform: uppercase;
  text-decoration: none;
  user-select: none;

  font-family: sans;

  color: var(--gray-31);
  transition: all 0.25s ease-in-out;

  border: 2px solid var(--gray-28);
  border-radius: var(--spacing-7);
  flex-shrink: 0;
  background-color: transparent;

  &:hover {
    color: var(--gray-0);

    background-color: var(--gray-28);
  }

  &:focus {
    outline: none;
  }

  &.danger {
    color: var(--danger-5);

    border-color: var(--danger-5);

    &:hover {
      color: var(--gray-0);
      background-color: var(--danger-5);
    }
  }
}
