@font-face{
  font-family: "Barlow Condensed";
  src: local("Barlow Condensed"), url("../fonts/BarlowCondensed-Regular.woff2") format("woff2");
}

@font-face{
  font-family: "Alegreya Sans";
  src: local("Alegreya Sans"), url("../fonts/AlegreyaSans-Regular.woff2") format("woff2");
}
