//dark theme
:root.dark{
  //180
  --pcolor-0: #000000;
  --pcolor-1: #002120;
  --pcolor-2: #004341;
  --pcolor-3: #006561;
  --pcolor-4: #008782;
  --pcolor-5: #00a9a3;
  --pcolor-6: #00cbc3;
  --pcolor-7: #00ede4;
  --pcolor-8: #10fff5;
  --pcolor-9: #32fff6;
  --pcolor-10: #54fff8;
  --pcolor-11: #76fff9;
  --pcolor-12: #98fefa;
  --pcolor-13: #bafffc;
  --pcolor-14: #dcfffd;
  --pcolor-15: #fefffe;
  --pcolor-0-tri: 0, 0, 0;
  --pcolor-1-tri: 0, 33, 32;
  --pcolor-2-tri: 0, 67, 65;
  --pcolor-3-tri: 0, 101, 97;
  --pcolor-4-tri: 0, 135, 130;
  --pcolor-5-tri: 0, 169, 163;
  --pcolor-6-tri: 0, 203, 195;
  --pcolor-7-tri: 0, 237, 228;
  --pcolor-8-tri: 16, 255, 245;
  --pcolor-9-tri: 50, 255, 246;
  --pcolor-10-tri: 84, 255, 248;
  --pcolor-11-tri: 118, 255, 249;
  --pcolor-12-tri: 152, 255, 250;
  --pcolor-13-tri: 186, 255, 252;
  --pcolor-14-tri: 220, 255, 253;
  --pcolor-15-tri: 254, 255, 254;


  //240
  --scolor-0: #000000;
  --scolor-1: #000121;
  --scolor-2: #000343;
  --scolor-3: #000565;
  --scolor-4: #000787;
  --scolor-5: #0009a9;
  --scolor-6: #000bcb;
  --scolor-7: #000ded;
  --scolor-8: #101eff;
  --scolor-9: #323eff;
  --scolor-10: #545eff;
  --scolor-11: #767eff;
  --scolor-12: #989efe;
  --scolor-13: #babeff;
  --scolor-14: #dcdeff;
  --scolor-15: #fefeff;
  --scolor-0-tri: 0, 0, 0;
  --scolor-1-tri: 0, 1, 33;
  --scolor-2-tri: 0, 3, 67;
  --scolor-3-tri: 0, 5, 101;
  --scolor-4-tri: 0, 7, 135;
  --scolor-5-tri: 0, 9, 169;
  --scolor-6-tri: 0, 11, 203;
  --scolor-7-tri: 0, 13, 237;
  --scolor-8-tri: 16, 30, 255;
  --scolor-9-tri: 50, 62, 255;
  --scolor-10-tri: 84, 94, 255;
  --scolor-11-tri: 118, 126, 255;
  --scolor-12-tri: 152, 158, 255;
  --scolor-13-tri: 186, 190, 255;
  --scolor-14-tri: 220, 222, 255;
  --scolor-15-tri: 254, 254, 255;


  //300
  --scolor-0: #000000;
  --scolor-1: #1f0021;
  --scolor-2: #3f0043;
  --scolor-3: #5f0065;
  --scolor-4: #7e0087;
  --scolor-5: #9e00a9;
  --scolor-6: #be00cb;
  --scolor-7: #dd00ed;
  --scolor-8: #ee10ff;
  --scolor-9: #f132ff;
  --scolor-10: #f354ff;
  --scolor-11: #f576ff;
  --scolor-12: #f898fe;
  --scolor-13: #fabaff;
  --scolor-14: #fcdcff;
  --scolor-15: #fefeff;
  --scolor-0-tri: 0, 0, 0;
  --scolor-1-tri: 31, 0, 33;
  --scolor-2-tri: 63, 0, 67;
  --scolor-3-tri: 95, 0, 101;
  --scolor-4-tri: 126, 0, 135;
  --scolor-5-tri: 158, 0, 169;
  --scolor-6-tri: 190, 0, 203;
  --scolor-7-tri: 221, 0, 237;
  --scolor-8-tri: 238, 16, 255;
  --scolor-9-tri: 241, 50, 255;
  --scolor-10-tri: 243, 84, 255;
  --scolor-11-tri: 245, 118, 255;
  --scolor-12-tri: 248, 152, 255;
  --scolor-13-tri: 250, 186, 255;
  --scolor-14-tri: 252, 220, 255;
  --scolor-15-tri: 254, 254, 255;

  //360
  --danger-0: #000000;
  --danger-1: #210002;
  --danger-2: #430005;
  --danger-3: #650008;
  --danger-4: #87000b;
  --danger-5: #a9000d;
  --danger-6: #cb0010;
  --danger-7: #ed0013;
  --danger-8: #ff1024;
  --danger-9: #ff3243;
  --danger-10: #ff5462;
  --danger-11: #ff7682;
  --danger-12: #fe98a1;
  --danger-13: #ffbac0;
  --danger-14: #ffdcdf;
  --danger-15: #fffefe;
  --danger-0-tri: 0, 0, 0;
  --danger-1-tri: 33, 0, 2;
  --danger-2-tri: 67, 0, 5;
  --danger-3-tri: 101, 0, 8;
  --danger-4-tri: 135, 0, 11;
  --danger-5-tri: 169, 0, 13;
  --danger-6-tri: 203, 0, 16;
  --danger-7-tri: 237, 0, 19;
  --danger-8-tri: 255, 16, 36;
  --danger-9-tri: 255, 50, 67;
  --danger-10-tri: 255, 84, 98;
  --danger-11-tri: 255, 118, 130;
  --danger-12-tri: 255, 152, 161;
  --danger-13-tri: 255, 186, 192;
  --danger-14-tri: 255, 220, 223;
  --danger-15-tri: 255, 254, 254;


  --gray-0: #000000;
  --gray-1: #111111;
  --gray-2: #222222;
  --gray-3: #333333;
  --gray-4: #444444;
  --gray-5: #555555;
  --gray-6: #666666;
  --gray-7: #777777;
  --gray-8: #888888;
  --gray-9: #999999;
  --gray-10: #aaaaaa;
  --gray-11: #bbbbbb;
  --gray-12: #cccccc;
  --gray-13: #dddddd;
  --gray-14: #eeeeee;
  --gray-15: #ffffff;
  --gray-0-tri: 0, 0, 0;
  --gray-1-tri: 17, 17, 17;
  --gray-2-tri: 34, 34, 34;
  --gray-3-tri: 51, 51, 51;
  --gray-4-tri: 68, 68, 68;
  --gray-5-tri: 85, 85, 85;
  --gray-6-tri: 102, 102, 102;
  --gray-7-tri: 119, 119, 119;
  --gray-8-tri: 136, 136, 136;
  --gray-9-tri: 153, 153, 153;
  --gray-10-tri: 170, 170, 170;
  --gray-11-tri: 187, 187, 187;
  --gray-12-tri: 204, 204, 204;
  --gray-13-tri: 221, 221, 221;
  --gray-14-tri: 238, 238, 238;
  --gray-15-tri: 255, 255, 255;
}

//dark theme
:root.light{
  //180
  --pcolor-0: #fefffe;
  --pcolor-1: #dcfffd;
  --pcolor-2: #bafffc;
  --pcolor-3: #98fefa;
  --pcolor-4: #76fff9;
  --pcolor-5: #54fff8;
  --pcolor-6: #32fff6;
  --pcolor-7: #10fff5;
  --pcolor-8: #00ede4;
  --pcolor-9: #00cbc3;
  --pcolor-10: #00a9a3;
  --pcolor-11: #008782;
  --pcolor-12: #006561;
  --pcolor-13: #004341;
  --pcolor-14: #002120;
  --pcolor-15: #000000;
  --pcolor-0-tri: 254, 255, 254;
  --pcolor-1-tri: 220, 255, 253;
  --pcolor-2-tri: 186, 255, 252;
  --pcolor-3-tri: 152, 255, 250;
  --pcolor-4-tri: 118, 255, 249;
  --pcolor-5-tri: 84, 255, 248;
  --pcolor-6-tri: 50, 255, 246;
  --pcolor-7-tri: 16, 255, 245;
  --pcolor-8-tri: 0, 237, 228;
  --pcolor-9-tri: 0, 203, 195;
  --pcolor-10-tri: 0, 169, 163;
  --pcolor-11-tri: 0, 135, 130;
  --pcolor-12-tri: 0, 101, 97;
  --pcolor-13-tri: 0, 67, 65;
  --pcolor-14-tri: 0, 33, 32;
  --pcolor-15-tri: 0, 0, 0;


  //240
  --scolor-0: #fefeff;
  --scolor-1: #dcdeff;
  --scolor-2: #babeff;
  --scolor-3: #989efe;
  --scolor-4: #767eff;
  --scolor-5: #545eff;
  --scolor-6: #323eff;
  --scolor-7: #101eff;
  --scolor-8: #000ded;
  --scolor-9: #000bcb;
  --scolor-10: #0009a9;
  --scolor-11: #000787;
  --scolor-12: #000565;
  --scolor-13: #000343;
  --scolor-14: #000121;
  --scolor-15: #000000;
  --scolor-0-tri: 254, 254, 255;
  --scolor-1-tri: 220, 222, 255;
  --scolor-2-tri: 186, 190, 255;
  --scolor-3-tri: 152, 158, 255;
  --scolor-4-tri: 118, 126, 255;
  --scolor-5-tri: 84, 94, 255;
  --scolor-6-tri: 50, 62, 255;
  --scolor-7-tri: 16, 30, 255;
  --scolor-8-tri: 0, 13, 237;
  --scolor-9-tri: 0, 11, 203;
  --scolor-10-tri: 0, 9, 169;
  --scolor-11-tri: 0, 7, 135;
  --scolor-12-tri: 0, 5, 101;
  --scolor-13-tri: 0, 3, 67;
  --scolor-14-tri: 0, 1, 33;
  --scolor-15-tri: 0, 0, 0;

  //300
  --scolor-0: #fefeff;
  --scolor-1: #fcdcff;
  --scolor-2: #fabaff;
  --scolor-3: #f898fe;
  --scolor-4: #f576ff;
  --scolor-5: #f354ff;
  --scolor-6: #f132ff;
  --scolor-7: #ee10ff;
  --scolor-8: #dd00ed;
  --scolor-9: #be00cb;
  --scolor-10: #9e00a9;
  --scolor-11: #7e0087;
  --scolor-12: #5f0065;
  --scolor-13: #3f0043;
  --scolor-14: #1f0021;
  --scolor-15: #000000;
  --scolor-0-tri: 254, 254, 255;
  --scolor-1-tri: 252, 220, 255;
  --scolor-2-tri: 250, 186, 255;
  --scolor-3-tri: 248, 152, 255;
  --scolor-4-tri: 245, 118, 255;
  --scolor-5-tri: 243, 84, 255;
  --scolor-6-tri: 241, 50, 255;
  --scolor-7-tri: 238, 16, 255;
  --scolor-8-tri: 221, 0, 237;
  --scolor-9-tri: 190, 0, 203;
  --scolor-10-tri: 158, 0, 169;
  --scolor-11-tri: 126, 0, 135;
  --scolor-12-tri: 95, 0, 101;
  --scolor-13-tri: 63, 0, 67;
  --scolor-14-tri: 31, 0, 33;
  --scolor-15-tri: 0, 0, 0;

  //360
  --danger-0: #fffefe;
  --danger-1: #ffdcdf;
  --danger-2: #ffbac0;
  --danger-3: #fe98a1;
  --danger-4: #ff7682;
  --danger-5: #ff5462;
  --danger-6: #ff3243;
  --danger-7: #ff1024;
  --danger-8: #ed0013;
  --danger-9: #cb0010;
  --danger-10: #a9000d;
  --danger-11: #87000b;
  --danger-12: #650008;
  --danger-13: #430005;
  --danger-14: #210002;
  --danger-15: #000000;
  --danger-0-tri: 255, 254, 254;
  --danger-1-tri: 255, 220, 223;
  --danger-2-tri: 255, 186, 192;
  --danger-3-tri: 255, 152, 161;
  --danger-4-tri: 255, 118, 130;
  --danger-5-tri: 255, 84, 98;
  --danger-6-tri: 255, 50, 67;
  --danger-7-tri: 255, 16, 36;
  --danger-8-tri: 237, 0, 19;
  --danger-9-tri: 203, 0, 16;
  --danger-10-tri: 169, 0, 13;
  --danger-11-tri: 135, 0, 11;
  --danger-12-tri: 101, 0, 8;
  --danger-13-tri: 67, 0, 5;
  --danger-14-tri: 33, 0, 2;
  --danger-15-tri: 0, 0, 0;

  --gray-0: #ffffff;
  --gray-1: #eeeeee;
  --gray-2: #dddddd;
  --gray-3: #cccccc;
  --gray-4: #bbbbbb;
  --gray-5: #aaaaaa;
  --gray-6: #999999;
  --gray-7: #888888;
  --gray-8: #777777;
  --gray-9: #666666;
  --gray-10: #555555;
  --gray-11: #444444;
  --gray-12: #333333;
  --gray-13: #222222;
  --gray-14: #111111;
  --gray-15: #000000;
  --gray-0-tri: 255, 255, 255;
  --gray-1-tri: 238, 238, 238;
  --gray-2-tri: 221, 221, 221;
  --gray-3-tri: 204, 204, 204;
  --gray-4-tri: 187, 187, 187;
  --gray-5-tri: 170, 170, 170;
  --gray-6-tri: 153, 153, 153;
  --gray-7-tri: 136, 136, 136;
  --gray-8-tri: 119, 119, 119;
  --gray-9-tri: 102, 102, 102;
  --gray-10-tri: 85, 85, 85;
  --gray-11-tri: 68, 68, 68;
  --gray-12-tri: 51, 51, 51;
  --gray-13-tri: 34, 34, 34;
  --gray-14-tri: 17, 17, 17;
  --gray-15-tri: 0, 0, 0;
}


//shared between themes
:root{
  --alpha-0: 0;
  --alpha-1: 0.05;
  --alpha-2: 0.07;
  --alpha-3: 0.08;
  --alpha-4: 0.09;
  --alpha-5: 0.11;
  --alpha-6: 0.12;
  --alpha-7: 0.14;
  --alpha-8: 0.15;
  --alpha-9: 0.16;

  --spacing-1: 0.146rem;
  --spacing-2: 0.236rem;
  --spacing-3: 0.382rem;
  --spacing-4: 0.618rem;
  --spacing-5: 1rem;
  --spacing-6: 1.618rem;
  --spacing-7: 2.618rem;
  --spacing-8: 4.235rem;
  --spacing-9: 6.854rem;

  --font-size-0: 0.625rem;
  --font-size-1: 0.8125rem;
  --font-size-2: 1rem;
  --font-size-3: 1.25rem;
  --font-size-4: 1.625rem;
  --font-size-5: 2.0625rem;
  --font-size-6: 2.625rem;
  --font-size-7: 4.226rem;
  --font-size-8: 6.804rem;
  --font-size-9: 10.95rem;

  --elevation-1: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  --elevation-1-hover: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-2: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  --elevation-3: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  --elevation-4: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  --elevation-5: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);

  --primary-font: "Alegreya Sans";
  --secondary-font: "Barlow Condensed";
}
